<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Loan</title>
</head>
<body>

<form action="/", method="post">
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="text" class="form-control" id="amount" name="amount">
  </div>
  <div class="form-group">
    <label for="period">Period</label>
    <input type="text" class="form-control" id="period" name="period">
  </div>
  <div class="form-group">
    <label for="interest">Interest</label>
    <input type="text" class="form-control" id="interest" name="interest">
  </div>
  <div class="form-group">
    <label for="email_send">Email</label>
    <input type="text" class="form-control" id="email_send" name="email_send">
  </div>
  <button type="submit" class="btn btn-primary">Patvirtinti</button>
</form>


</body>
</html>